
@{
    ViewData["Title"] = "Index";
}

<h1>HomeSlice App</h1>

<h2>Summary</h2>
<p>If you are a landlord, or simply live in a shared rental home, the HomeSlice App will <br />
    help you manage your money. Users can keep track of shared expenses such as Hydro, Gas,<br />
    and internet, all in a simple, easy to use interface. If you have roommates, HomeSlice 
    makes your life easier.</p>

<h2>Documentation</h2>

<ul>
    <li><a asp-area="" asp-controller="Documents" asp-action="ERD">ERD Diagram</a></li>
    <li><a asp-area="" asp-controller="Documents" asp-action="UseCase">Use Case Diagram</a></li>
    <li><a asp-area="" asp-controller="Documents" asp-action="FunctionalRequirements">Functional Requirements</a></li>
    <li><a asp-area="" asp-controller="TokenAPI" asp-action="getFakeData">Functional Requirements</a></li>
</ul>

<h2>Test Login Credentials</h2>
<p>login       : KevinKline</p>
<p>password    : kevinkline</p>

<h2>Latest Update</h2>
<p>2018-02-20 at 05:30 pm</p> <!--format: yyyy-mm-dd-time-->